@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.todo {
    max-width: 470px;
    padding: 25px 8px;
    font-family: 'Roboto', sans-serif;
}

.priority-name, .todo-input {
    font-size: 18px;
}

.priority {
    margin-bottom: 12px;
}

.priority-name {
    margin: 0;
    margin-bottom: 12px;
    text-align: center;
}

.todo-form {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #989898;
    border-radius: 6px;

}

.todo-input {
    flex: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    overflow: hidden;
}

.todo-input::placeholder {
    color: #BBBBBB;
}

.todo-btn-add {
    width: 18px;
    height: 18px;
    border: none;
    padding: 0;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/svg/add.svg);
    background-position: center;
    background-repeat: no-repeat;
}